<p id="notice"><%= notice %></p>

<h1>Repositories</h1>
<% if @repositories.nil? || @repositories.empty? %>
  <p>No repositories saved. Use the search bar to populate this page.</p>
  <% return %>
<% end %>
<%= render 'repositories_table', {repositories: @repositories} %>

<br>
