<% @owners.each_slice(4) do |slice| %>
  <div class="card-group" style="padding-left: 20%; padding-right: 20%">
    <% slice.each do |owner| %>
      <div class="card">
         <%= link_to image_tag(owner.avatar_url, {class: 'card-img-top img-thumbnail'}), owner %>
        <div class="card-body" style="width: 18rem;">
          <h5 class="card-title">
            <%= owner.login %>
          </h5>
          <%= link_to owner.html_url, class: 'btn btn-primary' do %>
            Visit on Github
          <% end %>
        </div>
      </div>
    <% end %>
    <% (4-(slice.size)).times do %>
      <div class="card">

      </div>
    <% end %>
  </div>
<% end %>